@import '../../utils/variables';

.main {
    height: calc(100% - 6.3rem + 2.6rem);
    max-height: calc(58rem - 6.3rem - 2.6rem);
    position: relative;
    display: flex;
    flex-direction: column;
    background: $bg--dark-gray;
}

.content {
  position: relative;
  top: -2.6rem;
  padding: 0 1.6rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.title {
  font-family: 'Jost';
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.6rem;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #FFFFFF;
}

.comments {
  position: relative;
  top: -2.6rem;
}

.footer {
  position: relative;
  top: -2.6rem;

  padding: 2.4rem 0 1.9rem;
  width: 100%;
  height: 14rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  background: #3B3C4B;
  box-shadow: inset 0px 2px 20px rgba(0, 0, 0, 0.45);

  .link {
    font-size: 1.4rem;
    line-height: 1.9rem;
    text-decoration: none;

    color: #FFFFFF;
  }
}
