@import '../../utils/variables';

.default {
  padding: 1.3rem 4.37rem calc(1.3rem + 1px);
  width: 100%;
  height: 4.4rem;

  font-weight: 500;
  text-align: center;
  letter-spacing: 0.02em;

  color: $bg;
  background: yellowgreen;
  border: none;
  border-radius: 10px;

  &:active {
    background: $bg--pressed-button;
  }
}

.sexChoice {
  padding: 1rem 8.1rem calc(1rem + 1px) 8.3rem;

  font-family: 'Jost', Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 2.3rem;

  box-shadow: 0px 0px 10px rgba(255, 162, 53, 0.25);
}

.quizAnswers {
  letter-spacing: normal;
}

.createUser {
  font-weight: 900;
  text-transform: uppercase;
}

.withIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
}

.icon {
  width: 1.2rem;
  height: 2.2rem;
}
