.bg {
  position: absolute;
  min-width: 32rem;
  width: 100%;
  min-height: 29.5rem;
  height: 100%;
  background-image: url('../../images/photo.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  .gradient {
    width: 100%;
    height: 100%;
    background-image: url('../../images/gradient.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
  }
}

.quiz {
  bottom: -1.9rem;
}

.create {
  bottom: 0;
}

.sex {
  bottom: -2.6rem;
}
