@import '../../utils/variables';

.container {
  width: 100%;
}

.date {
  padding: 1.4rem 1.6rem;
  width: 100%;
  height: 4.4rem;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;

  background: $bg--input-default;
  box-shadow: inset 1px 1px 6px rgba(36, 37, 48, 0.5);
  border: none;
  outline: none;
  border-radius: 10px;

  &:focus {
    background: $bg--light-gray;
    filter: drop-shadow(0px 0px 8px rgba(255, 187, 47, 0.4));
    box-shadow: none;
  }
}

.error {
  background: $bg--input-error;
  border: 1px solid $error;

  &:focus {
    background: $bg--light-gray;
    filter: none;
  }
}

.success {
  background: $bg--input-correct;
  border: 1px solid $correct;
}
