$text--gray: #656D78;
$text--small-text: #AAB2BD;
$placeholder: #8A8B95;
$bg--comment-bg: #2F303E;
$bg: #242530;
$bg--dark-gray: #3B3C4B;
$bg--input-default: #C7C8D0;
$bg--input-2: #C7C8D0;

$bg--input-error: #D0C7C7;
$bg--input-correct: #CAD0C7;
$bg--light-gray: #F3F5F7;
$bg--pressed-button: #E3983F;
$bg--default-button: linear-gradient(180deg, #FFB45C 0%, #FFA438 100%);
$error: #FF5E5E;
$correct: #599F39;
