@import '../../utils/variables';
@import '../../utils/mixins';

.quiz {
  height: 100%;
  max-height: 58rem;
  position: relative;
  display: flex;
  flex-direction: column;
  background: $bg--dark-gray;

  @include onDesktop {
    max-height: 91.5rem;
  }
}

.content {
  padding: 0 2.4rem 8.8rem;
  position: relative;
  top: -1.9rem;
}

.text {
  padding: 0 2.4rem 1.6rem;
  position: fixed;
  bottom: 0;
  max-width: 480px;
  width: 100%;
  text-align: center;
  color: #AAB2BD;
  opacity: 0.6;
}


.question {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;
  text-align: center;

  color: #FFFFFF;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 14px;
}


