@import './utils/variables';
@import './utils/mixins';

.app {
  width: 100%;
  min-height: 46rem;
  height: 100vh;

  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.6rem;

  @include onDesktop {
    min-height: 58rem;
  }

  &__content {
    overflow-x: clip;
    margin: 0 auto;
    height: 100%;
    max-width: 480px;
    width: 100%;
    background: $bg;
  }
}

.test {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
}

.item-enter {
  transform: translateX(100%);
}

.item-enter-active {
  transform: translateX(0);
  transition: transform 300ms linear;
}

.item-exit {

  transform: translateX(100%);
}

.item-exit-active {
  transform: translateX(0);
  transition: transform 300ms linear;
}
